.blur-box {
  max-width: 490px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #f7f8fa;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;

  z-index: 0;

  &::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    backdrop-filter: blur(50px);
    z-index: -1;
    position: absolute;
  }
}

@-moz-document url-prefix() {
  .blur-box::before {
    // filter: blur(30px);
    background-size: 83% 100%;
    background-image: url(../img/blur.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
  }
}
