.contacts-list {
  display: flex;
  align-items: center;

  &__item {
    color: $text--white;
    font-family: $font-family;
    font-style: normal;
    font-size: 1.2;
    line-height: 21px;

    &--phone {
      font-weight: 600;
    }

    &--mail {
      font-weight: 400;
    }

    &:not(:first-child) {
      margin-left: 36px;
    }
  }
}
