.frouth-sec {
  margin-bottom: 120px;
}

.sliders-wrapper {
  max-width: 100%;
  margin: 0 auto;
  position: relative;

  &__top {
    position: relative;

    &::before {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 22.5vw;
      height: 100%;
      content: '';
      // background: #fff;
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
      z-index: 10;
    }
  }

}

.sliders-wrapper__bottom {
  max-width: calc(51.5vw);
  width: 100%;
  margin: 30px auto 0;
  // margin-left: -0.5vw;

  img {
    width: 100%;
  }

  .nav-slider__slide {
    margin-right: 0.5vw;
    border-radius: 4px;
    cursor: pointer;

    img {
      border-radius: 4px;
    }
  }
}

.big-slider__slide {
  transition: all 0.4s;
  transform: scale(0.75, 0.62);


  img {
    width: 100%;
  }
}

.big-slider__slide.slick-center {
  transform: scale(1);
}

.hard-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  grid-gap: 30px;
  z-index: 100;
  top: 50%;
  right: 20.9%;
  transform: translateY(-50%);
}





