header {
  padding: 6px 30px;

  background: $color--blue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__center {
    display: flex;
    align-items: center;

    grid-gap: 35px;
  }

  &__left {
    display: flex;
    align-items: center;

    grid-gap: 60px;
  }

  &__item {
    width: 100%;
    max-width: 197px;
  }
}
