.offer-sec {
  padding-bottom: 120px;

  &__top {
    text-align: center;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }


  &__blur {
    width: 100%;
    max-width: 482px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #F7F8FA;
    backdrop-filter: blur(50px);
    border-radius: 4px;
    padding: 30px;
    margin: -110px auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 30px;
  }

}
.offer-blur {

  &__article {
    text-align: center;
  }

  &__item {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F7F8FA;
    box-sizing: border-box;
    border-radius: 4px;
    height: 84px;
    padding: 0 20px;

    ul li {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      white-space: nowrap;
      grid-gap: 8px;
    }
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 30px;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 18px;
  }
}
