.tabs-sec {
  padding-bottom: 120px;

  &__box {
    margin-bottom: 78px;
  }

  &__title {
    font-family: $font-family--t;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: $text--color-blue;
    margin-bottom: 30px;
  }

  p {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    color: $text--color-black--alt;
  }
}
