.tabs-nav {
  margin-bottom: 72px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 50px;
  }


  &__btn {
    height: 100%;
    width: 100%;
    transition: all .4s;
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: Min(5.625vw ,20px);
    line-height: Min( 7.500vw,24px);
    color: $text--color-blue;
  }

  &__item {
    max-width: 166px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 60px;
    transition: all .4s;
    border: 1px solid transparent;


    &.active,
    &:hover {
      background: $color--white-bg;
      border-color: $color--white;
      box-sizing: border-box;
      box-shadow: 0px 40px 80px rgba(41, 75, 107, 0.1);

      button {
        font-weight: bold;
        // font-size: 20px;
        // line-height: 24px;
      }
    }
  }
}


.tab-body {

  width: 100%;

  &__box {
    display: flex;
    flex-direction: column;
    max-width: 770px;
    width: 100%;
    padding: 60px;
    background: $color--white-bg;
    border: 1px solid $color--white;
    box-shadow: 0px 40px 80px rgba(41, 75, 107, 0.1);
    border-radius: 4px;
    position: relative;
    z-index: 10;
  }

  &__item {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__title {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    color: $text--color-blue;
    margin-bottom: 12px;
  }

  &__list li {
    font-family: $font-family;
    font-style: normal;
    font-weight: bold;
    color: $text--color-blue;
  }

  &__article p {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    color: $text--color-black--alt;
    padding-bottom: 30px;
  }

  &__article {
    max-width: 595px;
    margin-left: auto;
  }
}

.tab-body__list {
  position: relative;
}


.tab-content {
  display: none;

  .tab-image {
    position: absolute;
    top: 55%;
    right: 52%;
    transform: translateY(-35%) rotate(15deg) translateX(-85%) scale(1);
    filter: drop-shadow(0px 40px 80px rgba(41, 75, 107, 0.1));
  }

  &.active {
    display: flex;
    z-index: 10;


  }

  .tab-image.active {
    top: 55%;
    right: 52%;
    height: 100%;
    animation: imageFade .6s;
  }
}

@keyframes imageFade {
  0% {
    right: 0;
    transform: translateY(-35%) rotate(0) translateX(-85%) scale(0);
    opacity: 0;
  }

  100% {
    right: 52%;
    transform: translateY(-35%) rotate(15deg) translateX(-85%) scale(1);
    animation-play-state: paused;
    opacity: 1;
  }
}


