.markup {
  padding-bottom: 100px;

  .btn {
    margin-bottom: 12px;
  }
}

.template-items h4 {
  margin-bottom: 5px;
}

.template-items p {
  font-size: 16px;
  font-family: $font-family--s;
}


::selection {
  color: $color--black;

  background: $color--grey-light;
}

.markup-colors {
  display: flex;
  flex-wrap: wrap;

  grid-gap: 2vw;
  // justify-content: space-between;

  & > h4 {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 20px);
    min-width: 150px;
    height: 100px;

    font-weight: 900;
    font-size: 18px;
    color: $text--black;
  }

  .yellow {
    color: $text--white;

    background-color: $color--yellow;
  }

  .black {
    color: $text--white;

    background-color: $color--black-alt;
    border: 1px solid $color--white;
  }

  .blue {
    color: $text--white;

    background-color: $color--blue;
  }

  .white {
    background-color: $color--white;
    border: 1px solid $color--black;
  }

  .grey {
    background-color: $color--grey;
  }

  .grey-light {
    background-color: $color--grey-light;
  }
}


.font-weight-light {
  font-weight: 200;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 900;
}

.font-family {
  font-weight: 600;
  font-size: 20px;
  font-family: $font-family;
}

.font-family--s {
  font-weight: 600;
  font-size: 20px;
  font-family: $font-family--s;
}

.font-family--t {
  font-weight: 600;
  font-size: 20px;
  font-family: $font-family--t;
}


.title_1,
.title_2,
.title_3,
.title_4,
.title_5,
.title_6 {
  font-weight: 600;
  line-height: 1.2;
  font-family: $font-family--t;
  color: $text--black;
}

.title_3,
.title_4,
.title_5,
.title_6 {
  font-family: $font-family;
}

.title_1 {
  font-size: Min(11.8vw, 80px);
}

.title_2 {
  font-size: Min(11.2vw, 60px);
}

.title_3 {
  font-size: Min(7.5vw, 36px);
}

.title_4 {
  font-size: Min(5.6vw, 20px);
}

.title_5 {
  font-size: Min(5vw, 18px);
}

.title_6 {
  font-size: Min(4.3vw, 16px);
}

.post-item a {
  color: $text--black;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.main-btn {
  width: 190px;
  height: 60px;

  font-weight: bold;
  font-size: 16px;
  font-family: $font-family;
  text-align: center;
  color: $text--black;

  background-color: $color--yellow;
  border-radius: 4px;
  outline: none;

  &:active:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    opacity: 0.8;

    transition: all 0.4s;
  }
}

ol {
  padding: 0;

  counter-reset: li;

  li {
    list-style: none;
    list-style-position: outside;

    &::before {
      content: counter(li, decimal) " ";

      margin-right: 2px;
      margin-left: 12px;

      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: $text--black;

      counter-increment: li;
    }
  }
}

ol ol {
  padding-left: 30px;
}

ul.disk-list {
  padding: 0;

  list-style: none;

  li {
    display: flex;
    align-items: center;

    &::before {
      content: "";

      width: 5px;
      min-width: 5px;
      height: 5px;
      margin-right: 7px;
      margin-left: 7px;

      background-color: $color--black;
      border-radius: 50%;
    }
  }
}

ul.accent-list li::before {
  content: "";

  width: 18px;
  height: 18px;
  margin-right: 12px;
  margin-left: 0;

  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23FBD836'/%3E%3Cpath d='M6 9.5L8 11.5L12 7' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-size: 100%;
  border: none;
  border-radius: 50%;
}

ul.alternative-list li {
  color: #8e8e8e;

  text-decoration-line: line-through;

  &::before {
    content: "";

    width: 18px;
    height: 18px;
    margin-right: 12px;
    margin-left: 0;

    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9' cy='9' r='9' fill='%23F7F8FA'/%3E%3Cpath d='M7 7L11 11' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 7L7 11' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 100%;
    border: none;
    border-radius: 50%;
  }
}

ul,
ol {
  li {
    list-style: none;

    &[class] {
      &::before {
        display: none;
      }
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: none;

  & + label {
    color: #595959;

    cursor: pointer;

    &:hover {
      color: $text--black;
    }

    &::before {
      content: "";

      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 19px;
      padding: 9px;

      vertical-align: middle;

      background-color: #ffffff;
      border: 1px solid #ededed;
      border-radius: 2px;
      cursor: pointer;
    }
  }
}

input[type=radio] + label::before {
  border-radius: 50%;
}

input[type=radio]:checked + label::before {
  background: url(assets/img/radio.png) center no-repeat;
  background-size: contain;
  border: 1px solid transparent;
  border-radius: 50%;
}

input:checked + label {
  color: $text--black;

  &::before {
    content: "";

    background: url(assets/img/checkbox.png) center no-repeat;
    background-size: contain;
    border: 1px solid transparent;
  }
}

.scroll {
  max-height: 100px;

  @include scroll;
}

// .site-map {
//   ol {
//     padding-bottom: 20px;
//     padding-left: 40px;

//     li {
//       position: relative;

//       border-left: 2px solid $brand-primary;

//       &:hover {
//         cursor: pointer;

//         & > a {
//           text-decoration: underline;
//         }

//         &::before {
//           background-color: $brand-secondary;
//         }
//       }

//       a {
//         display: flex;
//         height: 40px;
//         margin-left: 15px;

//         line-height: 40px;
//       }

//       &::before {
//         content: "";
//         position: absolute;
//         top: 15px;
//         left: -26px;

//         width: 10px;
//         height: 10px;

//         background-color: $brand-primary;
//         border-radius: 50%;
//       }

//       &::after {
//         content: "";
//         position: absolute;
//         top: 25px;
//         left: -2px;

//         width: 50%;
//         height: 15px;

//         border-bottom: 2px solid $brand-primary;

//         border-left: 2px solid $brand-primary;
//       }
//     }
//   }
// }

// .tooltip-inner {
//   min-width: 710px !important;
//   padding: 5px;

//   background-color: #000000;
// }

.template-items {
  padding: 30px;

  border: 1px solid #e2e2e2;
}
