


//markup var

$text--color-yellow: #fbd836;
$text--color-black--alt: #1c1c1c;
$text--color-blue: #05192c;
$text--color-grey: #8e8e8e;
$text--color-grey--light: #cbcfd3;
$text--color-white: #f7f8fa;
$text--black: #000000;
$text--white: #ffffff;


$color--yellow: #fbd836;
$color--black-alt: #1c1c1c;
$color--blue: #05192c;
$color--grey: #8e8e8e;
$color--grey-light: #cbcfd3;
$color--white: #f7f8fa;
$color--white-bg: #ffffff;
$color--black: #000000;

$font-family: "Century Gothic", sans-serif;
$font-family--s: "Roboto", sans-serif;
$font-family--t: "Bebas Neue", sans-serif;





/*components var*/
